# MAT-model: Model Classes for Multiple Aspect Trajectory Data Mining \[MAT-Tools Framework\]

Sample Code in python notebook to use `mat-model` as a python library.

The present package offers a tool, to support the user in the task of modeling multiple aspect trajectories. It integrates into a unique framework for multiple aspects trajectories and in general for multidimensional sequence data mining methods.

Created on Apr, 2024
Copyright (C) 2023, License GPL Version 3 or superior (see LICENSE file)

In [13]:
#!pip install mat-model
#!pip install --upgrade mat-model

Found existing installation: mat-model 0.1b1
Uninstalling mat-model-0.1b1:
  Would remove:
    /Users/tarlisportela/miniforge3/lib/python3.9/site-packages/mat_model-0.1b1.dist-info/*
    /Users/tarlisportela/miniforge3/lib/python3.9/site-packages/matmodel/*
Proceed (Y/n)? ^C
ERROR: Operation cancelled by user

In [1]:
from matdata.dataset import *
df = load_ds(sample_size=0.25, missing=None)
df

Loading dataset file: https://github.com/mat-analysis/datasets/tree/main/mat/FoursquareNYC/

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100  850k  100  850k    0     0  1370k      0 --:--:-- --:--:-- --:--:-- 1381k

Spliting Data (class-balanced):   0%|          | 0/193 [00:00<?, ?it/s]

,day,hour,poi,category,price,rating,weather,space,tid,label
0,Monday,17,22898,Travel & Transport,NaN,NaN,Clear,40.660473835167 -73.83029108918642,128,6
1,Monday,19,35508,Outdoors & Recreation,NaN,NaN,Clear,40.6086420833785 -73.8190376758575,128,6
2,Monday,20,1655,Shop & Service,NaN,7.5,Clear,40.734055576476294 -73.8708472251892,128,6
3,Monday,20,15419,Travel & Transport,NaN,NaN,Clear,40.733372474683705 -73.8711404741537,128,6
4,Monday,21,33403,Travel & Transport,NaN,NaN,Clear,40.7631337910326 -73.8752118314646,128,6
...,...,...,...,...,...,...,...,...,...,...
15270,Thursday,15,1805,College & University,NaN,NaN,Clear,40.70473327890429 -73.9877378940582,29559,1070
15271,Friday,8,16452,Outdoors & Recreation,NaN,6.9,Clear,40.69780266528221 -73.9941451630314,29559,1070
15272,Friday,13,16201,Food,1.0,7.0,Clear,40.6946728967503 -73.9940820360805,29559,1070
15273,Friday,21,13261,Food,2.0,7.6,Clear,40.702369470990895 -73.9875124790989,29559,1070
15274,Saturday,0,36212,College & University,NaN,NaN,Clouds,40.697720739718896 -73.99302035242691,29559,1070

#### Trajectory Objects

Alternatively, you can convert the dataframe into Trajectory objects:

In [2]:
from matmodel.util.parsers import df2trajectory

T = df2trajectory(df)
traj = T[73]

Converting Trajectories:   0%|          | 0/694 [00:00<?, ?it/s]

In [4]:
traj.attributes

[1. day (nominal),
 2. hour (numeric),
 3. poi (numeric),
 4. category (nominal),
 5. price (numeric),
 6. rating (numeric),
 7. weather (nominal),
 8. space (space2d)]

In [3]:
traj.display()

ùòõêÑÅ2619 	ùò±1‚ü®Tuesday, 7.0, 24188.0, Residence, nan, nan, Clear, (40.762 -73.789)‚ü©‚Ü¥
	ùò±2‚ü®Tuesday, 8.0, 11255.0, Travel & Transport, nan, nan, Clear, (40.755 -73.846)‚ü©‚Ü¥
	ùò±3‚ü®Tuesday, 8.0, 18516.0, Travel & Transport, nan, nan, Clear, (40.749 -73.870)‚ü©‚Ü¥
	ùò±4‚ü®Tuesday, 8.0, 7825.0, Travel & Transport, nan, nan, Clouds, (40.747 -73.946)‚ü©‚Ü¥
	ùò±5‚ü®Tuesday, 14.0, 15434.0, Professional & Other Places, nan, nan, Clear, (40.708 -74.008)‚ü©‚Ü¥
	ùò±6‚ü®Wednesday, 7.0, 24188.0, Residence, nan, nan, Clear, (40.762 -73.789)‚ü©‚Ü¥
	ùò±7‚ü®Wednesday, 8.0, 19019.0, Professional & Other Places, nan, nan, Clear, (40.755 -73.848)‚ü©‚Ü¥
	ùò±8‚ü®Wednesday, 8.0, 11255.0, Travel & Transport, nan, nan, Clear, (40.755 -73.846)‚ü©‚Ü¥
	ùò±9‚ü®Wednesday, 8.0, 18516.0, Travel & Transport, nan, nan, Clear, (40.749 -73.870)‚ü©‚Ü¥
	ùò±10‚ü®Wednesday, 8.0, 33775.0, Travel & Transport, nan, nan, Clear, (40.744 -73.931)‚ü©‚Ü¥
	ùò±11‚ü®Wednesday, 8.0, 7825.0, Travel & Transport, nan, nan, Clear, (40.747 -73.946)‚ü©‚Ü¥
	ùò±12‚ü®Wednesday, 9.0, 15434.0, Professional & Other Places, nan, nan, Clear, (40.708 -74.008)‚ü©‚Ü¥
	ùò±13‚ü®Wednesday, 9.0, 7058.0, Professional & Other Places, nan, nan, Clear, (40.708 -74.008)‚ü©

In [22]:
traj.points[0]

ùò±1‚ü®Tuesday, 7, 24188, Residence, nan, nan, Clear, (40.762 -73.789)‚ü©

In [23]:
traj.points[0].aspects[0], traj.points[0].aspects[1]

(Tuesday, 7)

In [24]:
traj.attributes

[1. day (nominal),
 2. hour (time),
 3. poi (nominal),
 4. category (nominal),
 5. price (numeric),
 6. rating (numeric),
 7. weather (nominal),
 8. space (space2d)]

In [28]:
traj.attributes[3].text, traj.points[0].aspects[3]

('category', Residence)

In [29]:
traj.attributes_desc.attributes

[1. day (nominal),
 2. hour (time),
 3. poi (nominal),
 4. category (nominal),
 5. price (numeric),
 6. rating (numeric),
 7. weather (nominal),
 8. space (space2d)]

In [30]:
print(traj.attributes_desc.idDesc)
print(traj.attributes_desc.labelDesc)

9. tid (numeric)
10. label (nominal)

In [31]:
a1 = traj.attributes[0]
print(a1.order, a1.text, a1.dtype, sep=' -- ')

print('Comparator:', a1.comparator)

1 -- day -- nominal
Comparator: <matmodel.distance.comparator.EqualsDistance object at 0x1458c6550>

In [6]:
# Calcular a distancia do p1 com p2, no atributo 1 (S√£o iguais)
a1.comparator.distance(traj.points[0].aspects[0], traj.points[1].aspects[0])

0

In [7]:
# Calcular a distancia do p1 com p6, no atributo 1 (S√£o diferentes)
a1.comparator.distance(traj.points[0].aspects[0], traj.points[5].aspects[0])

1

In [8]:
d1 = 2
d2 = 10

# isso era uma fun√ß√£o que o Andres usava para aumentar a diferen√ßa proporcionalmente quanto maior fosse a distancia,
# vai at√© o max_value do comparador (se for setado)
a1.comparator.enhance(d1), a1.comparator.enhance(d2)

(4, 100)

In [9]:
d1 = 25
d2 = 75

# Se tiver valores de dist√¢ncia que quiser normalizar de 0 a 1, d√° pra atribuir o maior valor de dist√¢ncia poss√≠vel:
a1.comparator.max_value = 100
a1.comparator.normalize(d1), a1.comparator.normalize(d2)

(0.25, 0.75)

In [10]:
help(a1.comparator.distance)

Help on method distance in module matmodel.distance.comparator:

distance(asp1, asp2) method of matmodel.distance.comparator.EqualsDistance instance
    Calculates the distance for eqality ignoring case.

    Arguments:
    asp1 (Aspect<nominal>) - value 1 to compare
    asp2 (Aspect<nominal>) - value 2 to compare

    Return:
    distance - distance equality value (0 for equal values, 1 for different).

In [15]:
# Eu posso criar outros comparadores, ou trocar:
from matmodel.distance.comparator import LcsDistance, EditlcsDistance

a1.comparator = LcsDistance()
print(traj.points[0].aspects[0], traj.points[2].aspects[0], a1.comparator.distance(traj.points[0].aspects[0], traj.points[2].aspects[0]))
print(traj.points[0].aspects[0], traj.points[5].aspects[0], a1.comparator.distance(traj.points[0].aspects[0], traj.points[5].aspects[0]))

a1.comparator = EditlcsDistance()
print(traj.points[0].aspects[0], traj.points[2].aspects[0], a1.comparator.distance(traj.points[0].aspects[0], traj.points[2].aspects[0]))
print(traj.points[0].aspects[0], traj.points[5].aspects[0], a1.comparator.distance(traj.points[0].aspects[0], traj.points[5].aspects[0]))

Tuesday Tuesday 0
Tuesday Wednesday 4
Tuesday Tuesday 0
Tuesday Wednesday 6

In [11]:
# Com descritor j√° pronto:
from matmodel.util.parsers import df2trajectory
T = df2trajectory(df, attributes_desc='../datasets/mat/descriptors/FoursquareNYC_hp.json')
traj = T[73]

Converting Trajectories:   0%|          | 0/694 [00:00<?, ?it/s]

In [16]:
for attr in traj.attributes:
    print(attr, attr.comparator)

1. day (nominal) <matmodel.distance.comparator.EqualsDistance object at 0x1458c6550>
2. hour (time) <matmodel.distance.comparator.TimeDistance object at 0x1458c64f0>
3. poi (nominal) <matmodel.distance.comparator.EqualsDistance object at 0x1458c6340>
4. category (nominal) <matmodel.distance.comparator.EqualsDistance object at 0x1458c6160>
5. price (numeric) <matmodel.distance.comparator.AbsoluteDistance object at 0x1458c6220>
6. rating (numeric) <matmodel.distance.comparator.AbsoluteDistance object at 0x1458c60a0>
7. weather (nominal) <matmodel.distance.comparator.EqualsDistance object at 0x1458c6640>
8. space (space2d) <matmodel.distance.comparator.EuclideanDistance object at 0x1458c6730>

---

# --

In [23]:
sel_attributes = ['poi', 'day', 'category', 'weather']
attributes = [{'order': 1, 'type': 'space2d', 'text': 'lat_lon', 'comparator': {'distance': 'euclidean'}}, {'order': 2, 'type': 'nominal', 'text': 'day', 'comparator': {'distance': 'equals'}},{'order': 1, 'type': 'space2d', 'text': 'lat_lon', 'comparator': {'distance': 'euclidean'}}, {'order': 2, 'type': 'nominal', 'text': 'day', 'comparator': {'distance': 'equals'}}]

dict(map(lambda item: (item['text'], item), attributes))

{'lat_lon': {'order': 1,
  'type': 'space2d',
  'text': 'lat_lon',
  'comparator': {'distance': 'euclidean'}},
 'day': {'order': 2,
  'type': 'nominal',
  'text': 'day',
  'comparator': {'distance': 'equals'}}}

In [1]:
from matmodel.method import MethodWrapper

MethodWrapper.providedMethods()

{'HiperMovelets': {'hiper': 'HiPerMovelets',
  'hiper-pivots': 'HiPerPivots',
  'hiper+Log': 'HiPerMovelets-Log',
  'hiper-pivots+Log': 'HiPerPivots-Log'},
 'MasterMovelets': {'MM': 'MASTERMovelets',
  'MM+Log': 'MASTERMovelets-Log',
  'MMp': 'MASTERPivots',
  'MMp+Log': 'MASTERPivots-Log',
  'MML': 'MASTERMovelets-Log',
  'MMpL': 'MASTERPivots-Log'}}

In [1]:
from matmodel.method.MethodWrapper import Param

Param.TYPE_TEXT

0

\# By Tarlis Portela (2023)